extends layout

block content



  h1= title
  p Welcome to #{title}

  ul
    li My Text
    li Next line

  span#draggable Drag Me





  input(type='text').class-name#anyid
  - var condition = true
  if condition
    p It's true
  - var anyArray = [1, 2, 3]
  each value in anyArray
    p= value


  div
      table
          thead
            tr: th Pictures
          tbody
              each picture in pictures
                  -var pfad = '../routes/verzeichnis/'+path+'/samples/'+picture;

                      td
                          div.picture
                              img(src='' + pfad, width= 100, alt= picture)
