extends layout

block content
  h1= title
  p Willkommen zum #{title}

  p Die verfuegbaren Routen sind
  ul
    each route in routes
      li
        a(href="http://localhost/"+route) #{route}


  if condition
    p It's true
