extends layout

block content
  h1= title
  p Willkommen zum #{title}

  p Die verfuegbaren Routen sind
  ul
    each route in routes
      li
        a(href="/"+route) #{route}

    li 
      a(href="/jeriio") Jeri.io Skript
  if condition
    p It's true
