html
    head
        script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.js")
        script(src="js/jeri/jeri.js")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script.

            var json = $.getJSON("jeridata.json", function (json) {
                console.log(json);
                console.log(JSON.stringify(json));
                document.getElementById('pelement').innerHTML = JSON.stringify(json);
                Jeri.renderViewer(document.getElementById('root'), json);

            });
            $(document).ready(function () {

            });



block content
    body
        p#data hallo welt
        p#pelement bist du auch schon wach
        div.stretch#root(style ="width: 100%; height: 100%; position: absolute; left: 0; right: 0; top: 0; bottom: 0;")

