doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')


    link(rel='stylesheet', href='https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css')
    script(src='https://code.jquery.com/jquery-1.10.2.js')
    script(src='https://code.jquery.com/ui/1.10.4/jquery-ui.js')
    script(src='js/ui.js')

    //Context-Menue
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='js/context-menue.js')


  body
    block content