script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
script.
    $(function () {
        $("#navigation, #pages").sortable({
            connectWith: ".dragger"
        }).disableSelection();
    });
h1 Configure your navbar!
style.
    #navigation {
        float: left;
        height: 120%;
    }

    #pages {
        float: right;
        height: 120%;
    }

    li.draggable {
        border: 1px solid orange;
        background-color: orange;
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 1.2em;
        width: 190px;
    }

- var navigation = site.settings.navigation


#lists
    ul.dragger#navigation
        each val, key in navigation
            li.form-group.draggable
                b Url
                br
                input.form-control(type='text' name='url' value='#{key}')
                b Label
                br
                input.form-control(type='text' name='label' value='#{val}')
    ul.dragger#pages
        each page in pages
            if (!(('/pages' + page.url) in navigation))
                li.form-group.draggable
                    b Url
                    br
                    input.form-control(type='text' name='url' value='/pages#{page.url}')
                    b Label
                    br
input.form-control(type='text' name='label' value='#{page.title}')