extends layout

block content


    div#zoomBox(style='width:702px;height:402px;position:relative')
        div#zTopLeft(style='width:350px;height:200px;border: 1px solid white;position:absolute;top:0px;left:0px')
        div#zTopRight(style='width:350px;height:200px;border: 1px solid white;position:absolute;top:0px;right:0px')
        div#zBottomLeft(style='width:350px;height:200px;border: 1px solid white;position:absolute;bottom:0px;left:0px')
        div#zBottomRight(style='width:350px;height:200px;border: 1px solid white;position:absolute;bottom:0px;right:0px')